body,
input {
    font-size: $normal-font;
    letter-spacing: 0.1rem;
    font-family: IBM Plex Sans, sans-serif-light, sans-serif;
}

p {
    color: $white;
}

table {
    font-size: $small-font;
    letter-spacing: 0;
}

h2 {
    font-size: $normal-font;
    margin-bottom: 1rem;
    color: $dark-grey;
}

h1 {
    font-size: $big-font;
    margin-bottom: 3rem;
    font-weight: normal;
}

.tab-label {
    font-size: $small-font;
    text-transform: uppercase;
    color: $dark-grey;
}

button {
    font-size: $small-font;
    letter-spacing: 0.1rem;
    color: $white;
}

form {

    label,
    input,
    p {
        font-size: $small-font;
        color: black;
    }
}

.nav-bar {
    span {
        font-size: $small-font;
    }
}