//FONT SIZES
$small-font: 1.4rem;
$normal-font: 2.4rem;
$big-font: 3.2rem;

//COLORS
$white: #ffffff;
$low-op-black: #00000010;
$light-grey: #EDEDED;
$grey: #848A9D;
$dark-grey: #60667C;
$darker-grey: #707070;
$secondary-color-dark: #3462FD;
$secondary-color-light: #D7DEFA;
$secondary-color: #92A4E6;
$main-backgroun-color: #F2F6FD;