<div class="login__box">
    <div class="login__logo">
        <div class="login__content">
            <img src="../../assets/icons/logo.svg" class="login__logo__icon">
            <p>Car Fleet</p>
            <p>Management</p>
        </div>
    </div>
    <div class="login__form">
        <form class="login__content">
            <h1>Welcome!</h1>
            <label>
                Email
                <input type="text">
            </label>
            <label>
                Password
                <input type="password">
            </label>
            <button type="submit" class="login__button">Login with FB</button>
        </form>
    </div>
</div>