@import 'variables';
@import 'mixins';

.login {
    &__box {
        @include absolute-middle;
        display: flex;
        flex-direction: row;
        height: 57rem;
        width: 95rem;
        @include normal-box-shadow($grey);

        @include respond(phone) {
            flex-direction: column;
            box-shadow: none;
            top: 0;
            transform: translateX(-50%);
            width: 100%;
        }

    }

    &__logo {
        position: relative;
        flex-basis: 30%;
        background-color: $secondary-color-dark;
        text-align: center;

        @include respond(phone) {
            flex-basis: 24rem;
        }

        &__icon {
            height: 15.9rem;
            filter: invert(100%);

            @include respond(phone) {
                height: 10rem;
            }
        }
    }

    &__form {
        position: relative;
        flex-basis: 70%;

        @include respond(phone) {
            flex-basis: 32rem;
        }
    }

    &__button {
        @include app-button(16rem, 4rem);
    }

    &__content {
        @include absolute-middle;

        label,
        input {
            display: block;
        }

        label {
            margin: 2rem 0;
        }

        input {
            border: none;
            border-bottom: 1px solid $grey;
            background-color: $light-grey;
            width: 27rem;
            height: 4rem;
            padding-left: 1rem;
            margin-top: 0.5rem;
        }
    }
}