<div class="data-table__content">
    <table class="data-table">
        <thead>
            <tr>
                <ng-container *ngFor="let title of titlesToRender let first=first let last=last">
                    <th [class.data-table__heading--first]=first [class.data-table__heading--last]=last
                        class="data-table__column  data-table__heading">{{title.title}}</th>
                </ng-container>
            </tr>
        </thead>
        <div class="line">
            <hr>
        </div>
        <tbody class="data-table__body">
            <ng-container *ngFor="let dataObject of data.data let odd = odd">
                <tr [class.odd]=odd>
                    <ng-container *ngFor="let dataKey of dataProperties">
                        <td class="data-table__column">{{dataObject[dataKey]}}</td>
                    </ng-container>
                    <ng-container *ngFor="let tableCol of tableColTemplates">
                        <td class="data-table__column">
                            <div (click)="rowClicked(tableCol, dataObject)">
                                <ng-container *ngTemplateOutlet="tableCol.templateRef">
                                </ng-container>
                            </div>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>