@import 'variables';
@import 'mixins';

.data-table {
    background-color: $white;
    @include light-box-shadow($low-op-black);
    border-spacing: 0 0;
    padding: 1rem 0;

    &__content {
        overflow-x: auto;
    }

    &__column {
        padding: 1rem 4rem;
        white-space: nowrap;
        max-width: 20rem;
        text-overflow: ellipsis;
        overflow: hidden;

        @include respond(tab-land) {
            padding: 1rem 2rem;
            max-width: 15rem;
        }

        @include respond(phone) {
            padding: 1rem 1rem;
            max-width: 10rem;

        }

        &--first {
            @include respond(phone) {
                padding-left: 2rem;
            }
        }

        &--last {
            @include respond(phone) {
                padding-right: 2rem;
            }
        }

        &--projected--last {
            @include respond(phone) {
                padding-right: 11rem;
            }
        }
    }

    &__heading {
        text-align: left;
        font-weight: bold;

        &--last {
            padding-right: 0;
            border-right: 4rem solid transparent;

            @include respond(phone) {
                border-right: 2rem solid transparent;
            }
        }

        &--first {
            padding-left: 0;
            border-left: 4rem solid transparent;

            @include respond(phone) {
                border-left: 2rem solid transparent;
            }
        }
    }

    .odd {
        background-color: $secondary-color-light;
    }

    .line {
        position: absolute;
        width: 100%;
        padding: 0 1rem;

        hr {
            border: none;
            background-color: $secondary-color;
            height: 2px;
        }
    }
}